@model UserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DOJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DOJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastLogin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastLogin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Seniority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Seniority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmpCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmpCode)
        </dd>
    </dl>
    
    <form asp-action="DeletePost" asp-controller="User" asp-route-id="@Model.User.UserID" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
