@model ShubhamsCompany.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DOJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DOJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastLogin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastLogin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Seniority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Seniority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmpCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmpCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Update", "Update", new { id = @Model.User.UserID }, new { @class = "btn btn-primary" }) |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
